 .n{
    width: 100%;
    

} 
.n1{
 
    background-image: url('kerala 89be66f02d6b949dc4fa467b4278d8a5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.m{
    padding-left: 30px;
}
.p{
    padding-top: 5px;    
    font-weight: bold;
    color: rgb(252, 105, 105);
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 600px;
  padding-left: 10px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.col{
    height: 20px;
    width: 100%;
    margin-top: 50px;
}

/* .........................sign up.......................... */
.bak{
    background: url('https://i.pinimg.com/originals/c2/24/c7/c224c7780a54fb8088a2017ee1470a88.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
.ft{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    width: 500px;
    text-align: center;
}
.al{
    width: 50%;
    margin-left: 80px;
}
.sign-up-box{
    display: flex;
    align-items: center;
    margin-top: 10%;
    border: currentColor;
    width: 60%;
    height: auto;
    position: relative;
}
.sign-up-box input[type="text"], input[type="password"], input[type="email"]{
    background: none;
    
}
.sign-up-box input[type="text"]{
    background-color: transparent;
}

.sign-up-box input[type="password"]{
    background-color: transparent;
}

.sign-up-box input[type="email"]{
    background-color: transparent;
}


 .btn1{
    width: 30%;
    background: none;
    border: 2px solid #04f7e3;
    color: white;
    padding: 5px;
    border-radius: 25px;
} 
.btn2{
    width: 30%;
    background: none;
    border: 2px solid #04f7e3;
    color: white;
    padding: 5px;
    border-radius: 25px;
}
.tr{
    background: none;
}
.fa{
    color: white !important;
    
}
.inputWithIcon input[type="text"], .inputWithIcon input[type="password"], .inputWithIcon input[type="email"]{
    color: white;
    padding-left: 50px;
    background: transparent;
}
.inputWithIcon{
    position: relative;
}
.inputWithIcon i{
    position: absolute;
    left: 0;
    padding-top: 5px;
    padding-left: 10px;
}
input[type="email"]::-webkit-input-placeholder {
    color: rgb(252, 250, 250) !important;
    opacity: 1;
    }
input[type="password"]::-webkit-input-placeholder {
    color: rgb(255, 251, 251) !important;
    opacity: 1;
    }
input[type="text"]::-webkit-input-placeholder {
    color: rgb(255, 255, 255) !important;
    opacity: 1;
    }
#eye1{
    
    left: 90%;
    top: 59%;
    cursor: pointer;

}
#eye2{
    display: none;
    left: 90%;
    top: 59%;
    cursor: pointer;
}

/* ............................sign up ends................... */
.bc{
    background: url('2018070472.png') no-repeat;
    width: 100%;
    height: 500px;  
}
.row{
    margin-top: -50px;
}
.bor{
    border:1px dotted;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-color: rgb(83, 82, 82);
    
}
.bc1{
    width: 100%;
    height: 450px;
    background: url('427-1-St.-Angelo-Fort-Kannur-Fort.jpg') no-repeat;
    background-size: cover;   
}
.r{
    padding-top: 70px;
}
.carousel-inner img {
    width: 100%;
    
}
.container-fluid{
    width: 100%;
}
.bg{
    background-color: rgba(28, 32, 30, 0.342);
    height: 100px;
    width: 50% auto;
    
}

/* .........Gallery......... */
div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  /* ..........................each page start..................... */
.pd{
    margin-top: 100px;
}
.m1{
    padding-top: 60px;
    padding-left: 20px;
}
.pd1{
    padding-top: 5px;
    padding-bottom: 5px;
}

.fnt{
    font-family: 'Times New Roman', Times, serif;
    padding-left: 400px;
    font-size: 70px;
    font-weight: 800;
    color:rgba(225,225,225,1);
    width: 100%;
    height: auto;
}
.bc2{
    width: 100%;
    height: 500px;
    background: url('houseboat-alappuzha.jpg') no-repeat;
    background-size: cover;   
}
.bc3{
    width: 100%;
    height: 600px;
    background: url('kochi Untitled-design-9.jpg');
    background-size: cover;
}
.bc4{
    width: 100%;
    height: 500px;
    background: url('idukki-1553506802.jpg');
    background-size: cover;
}
.bc5{
    width: 100%;
    height: 500px;
    background: url('Jatayu-Nature-park-800x324.jpg');
    background-size: cover;
}
.bc6{
    width: 100%;
    height: 500px;
    background: url('Elaveezhapoonchira Ktm_elaveezhapoonchira.jpg');
    background-size: cover;
}
.bc7{
    width: 100%;
    height: 500px;
    background: url('Kozhikode_district.jpg');
    background-size: cover;
}
.bc8{
    width: 100%;
    height: 500px;
    background: url('kolli5c63baa6211e8-Kolli_Hills_Attractions.jpg');
    background-size: cover;
}
.bc9{
    width: 100%;
    height: 500px;
    background: url('palakkad-fort-tipus-fort-palakkad-kerala.jpg');
    background-size: cover;
}
.bc10{
    width: 100%;
    height: 500px;
    background: url('patahanam 5674de14abcb4-645010ee27957ce618484a3993d7987e-960x540.jpg');
    background-size: cover;
}
.bc11{
    width: 100%;
    height: 500px;
    background: url('Thrissur_pooram.jpg');
    background-size: cover;
}
.bc12{
    width: 100%;
    height: 500px;
    background: url('https___blogs-images.forbes.com_jimdobson_files_2016_05_Sree_Padmanabhaswamy_Temple.jpg');
    background-size: cover;
}
.bc13{
    width: 100%;
    height: 500px;
    background: url('kurumbalakotta.jpg');
    background-size: cover;
}
/* ......................................ends............................ */

/*.................................Login home.................................*/

.wid{
    width: 100%;
    background-size: cover;
}
.frm{
    float: right;
}
.lo{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 1000px;
}
.box{
    width: 300px;
    margin-top: -250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.box input[type= "email"], .box input[type= "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    /* text-align: center; */
    border: 2px solid rgb(7, 158, 245);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: rgb(247, 244, 244);
    border-radius: 24px;
    transition: .25s;
}
.box input[type= "email"]:focus-within, .box input[type= "password"]:focus{
    width: 280px;
    border-color: yellow;
}
.box input[type= "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgba(245, 7, 7, 0.712);
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    width: 200px;
}
.box input[type= "submit"]:hover{
    background: rgb(50, 187, 205);
}
.box h1{
    color: white;
}

/*...................................footer....................*/

.footer{
background-color: rgba(146, 146, 145, 0.39);
position: fixed;
width: 100%;
text-align: center;
bottom: 0;
}
.hb{
    background: url('alleppey-1486285822.jpg') no-repeat;
    background-size: cover;
    height: auto;
    
}
.kr{
    width: 300px;
    height: 100%;
}
/* ..................animation................. */
/*..............................Login page....................*/


.body{
    background: url('https://c0.wallpaperflare.com/preview/519/502/435/india-thrissur-color-fire.jpg') no-repeat;
    background-size: cover;
    height: auto;
}

#myForm1{
    margin-top: 50px;
}
.foter{
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.301);
    position: absolute;
    bottom: 0;
}
/*.......................Forget password...................*/
.forgetpass{
    width: 500px;
    height: auto;
    margin: 0 auto;
    position: relative;
    background: rgb(0, 0,0,0.4);
    text-align: center;
    margin-top: 170px;
    padding: 35px;
    border: 1px solid #fff;
    -webkit-border-radius: 70px 0 70px 0;
    -moz-border-radius:70px 0 70px 0;
    border-radius: 70px 0 70px 0;
    display: block;
    color: white;
    /*top: -387px;*/

}
.hid{
    visibility: hidden;
}
input[type="email"]::-webkit-input-placeholder{
    color: lightgoldenrodyellow;
}

.forgetpass button{
    border-radius: 50px;
    background: transparent;
    border: none;
    color: white;
    margin-top: 15px;
    
}
.forgetpass button:hover{
    background: rgb(36, 111, 250);
}

.n1{
    padding-top: 5px;
    background: wheat;
    display: inline;
    align-self: flex-end;
}
.tx1{
    padding-top: 20px;
}
.changepass{
    width: 500px;
    height: auto;
    margin: 0 auto;
    position: relative;
    background: rgb(0, 0,0,0.4);
    text-align: center;
    margin-top: 150px;
    margin-bottom: 30px;
    padding: 40px;
    border: 1px solid #fff;
    -webkit-border-radius: 70px 0px 70px 0;
    -moz-border-radius:70px 0px 70px 0;
    border-radius: 70px 0 70px 0;
    display: block;
    color: white;
     
    

}
.otp input[type="text"]{
    width: 20px;
    border-radius: 0 0 0 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    margin-right: 10px ;
    top: -50px;
    text-align: center;
    font-size: 1rem;
    height: 15px;
}
.changepass h1{
    text-align: center;
}
.changepass button{
    float: right;
    border-radius: 50px;
    background: transparent;
    border: none;
    color: white;
}
.changepass button:hover{
    background: rgb(36, 111, 250);
}
.changepass i{
    position: absolute;
    margin-top: -50px;
    margin-left: -3vh;
    cursor: pointer;
}
.changepass p{
    text-align: start;
}
.rest{
    border-radius: 50px;
    width: 50px;
    height: 27px;
    border: none;
    float: left;
}
.rest:hover{
    background: rgb(36, 111, 250);
}
.n{
    margin-top: 10px;
}

/*..............footer.................*/
.fotr{
    width: 100%;
    background: #71717157;
    text-align: center;
    height: 30px;
    margin-top: 950px;
    position: sticky;
    
}
.hr{
    color: rgba(11, 44, 27, 0.747);
    text-decoration: none;
}


